* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
}
li {
  list-style-type: none;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}
.sidenav a:hover {
  color: lightblue;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-top: 20px;
}
.form-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid gray;
  padding: 20px
}
.scenario-name, .scenario-time {
  display: flex;
  flex-direction: column;
}
.form-container input, select {
  margin-top: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.button-container  {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.button-container button {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
table {
  width: 800px;
  height: 200px;
  border-collapse: collapse;
  margin-top: 20px !important;
  margin: 0px auto;
}

th {
  border-bottom: 1px solid gray;
  border: 2px solid gray;
}

td {
  text-align: center;
  border: 2px solid gray;
}

